<nav class="navbar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/posts">Posts</a>
    </li>
    <li>
      <a href="/cadastro-posts">Novo Post</a>
    </li>
  </ul>
</nav>